@using CommentManagement.Application.Contracts.Comment
@using MyKalaShopQuery.Contracts.Product
@using _0_Framework.Application
@model ProductQueryView

@{
    ViewData["Title"] = "مشخصات محصول";
}

<!--====================  breadcrumb area ====================-->
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb wrpapper  =======-->
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <!--=======  breadcrumb content  =======-->
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">@Model.Name</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-controller="ProductCategory" asp-action="Index" asp-route-slug="@Model.ProductCategorySlug">@Model.ProductCategory</a>
                            </li>
                            <li class="active">@Model.Name</li>
                        </ul>
                    </div>
                    <!--=======  End of breadcrumb content  =======-->
                </div>
                <!--=======  End of breadcrumb wrpapper  =======-->
            </div>
        </div>
    </div>
</div>
<!--====================  End of breadcrumb area  ====================-->

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<!--====================  page content area ====================-->
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <!--=======  single product main content area  =======-->
                        <div class="single-product-main-content-area section-space" style="direction: ltr;">
                            <div class="row" style="display: flex; flex-direction: row-reverse">
                                <div class="col-lg-6">
                                    <!--=======  product details slider area  =======-->
                                    <div class="product-details-slider-area">
                                        <div class="big-image-wrapper">
                                            <div class="product-details-big-image-slider-wrapper product-details-big-image-slider-wrapper--bottom-space ht-slick-slider"
                                                 data-slick-setting='{
                                                    "slidesToShow": 1,
                                                    "slidesToScroll": 1,
                                                    "arrows": false,
                                                    "autoplay": false,
                                                    "autoplaySpeed": 5000,
                                                    "fade": true,
                                                    "speed": 500,
                                                    "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                    "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                }' data-slick-responsive='[
                                                    {"breakpoint":1501, "settings": {"slidesToShow": 1, "arrows": false} },
                                                    {"breakpoint":1199, "settings": {"slidesToShow": 1, "arrows": false} },
                                                    {"breakpoint":991, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} }
                                                ]'>
                                                <div class="single-image">
                                                    <img src="~/UploadedFiles/@Model.PicturePath" class="img-fluid"
                                                         alt="@Model.PictureAlt" title="@Model.PictureTitle">
                                                </div>
                                                @foreach (var picture in Model.ProductPictures)
                                                {
                                                    <div class="single-image">
                                                        <img src="~/UploadedFiles/@picture.PicturePath" class="img-fluid"
                                                         alt="@picture.PictureAlt" title="@picture.PictureTitle">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-details-small-image-slider-wrapper product-details-small-image-slider-wrapper--horizontal-space ht-slick-slider"
                                             data-slick-setting='{
                                                "slidesToShow": 4,
                                                "slidesToScroll": 1,
                                                "arrows": true,
                                                "autoplay": false,
                                                "autoplaySpeed": 5000,
                                                "speed": 500,
                                                "asNavFor": ".product-details-big-image-slider-wrapper",
                                                "focusOnSelect": true,
                                                "centerMode": false,
                                                "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                            }' data-slick-responsive='[
                                                {"breakpoint":1501, "settings": {"slidesToShow": 3, "arrows": false} },
                                                {"breakpoint":1199, "settings": {"slidesToShow": 3, "arrows": false} },
                                                {"breakpoint":991, "settings": {"slidesToShow": 5, "arrows": false, "slidesToScroll": 1} },
                                                {"breakpoint":767, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                {"breakpoint":575, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                {"breakpoint":479, "settings": {"slidesToShow": 2, "arrows": false, "slidesToScroll": 1} }
                                            ]'>
                                            <div class="single-image">
                                                <img src="~/UploadedFiles/@Model.PicturePath" class="img-fluid"
                                                     alt="@Model.PictureAlt" title="@Model.PictureTitle">
                                            </div>
                                            @foreach (var picture in Model.ProductPictures)
                                            {
                                                <div class="single-image">
                                                    <img src="~/UploadedFiles/@picture.PicturePath" class="img-fluid"
                                                     alt="@picture.PictureAlt" title="@picture.PictureTitle">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <!--=======  End of product details slider area  =======-->
                                </div>
                                <div class="col-lg-6">
                                    <!--=======  single product content description  =======-->
                                    <div class="single-product-content-description">
                                        <p class="single-info">
                                            گروه محصولی <a asp-controller="ProductCategory" asp-action="Index"
                                                           asp-route-slug="@Model.ProductCategorySlug">@Model.ProductCategory</a>
                                        </p>
                                        <h4 class="product-title">@Model.Name</h4>
                                        <div class="product-rating"></div>
                                        <p class="single-grid-product__price">
                                            @if (Model.HasDiscount)
                                            {
                                                <span class="discounted-price">@Model.UnitPrice.ToMoney() تومان</span>
                                                <span class="main-price discounted">@Model.PriceWithDiscount.ToMoney() تومان</span>
                                            }
                                            else
                                            {
                                                <span class="main-price">@Model.UnitPrice.ToMoney() تومان</span>
                                            }
                                        </p>
                                        <p class="single-info">کد محصول: <span class="value">@Model.Code</span> </p>
                                        <p class="single-info">
                                            وضعیت: <span class="value">
                                                @if (Model.IsAvailable)
                                                {
                                                    <span class="text-success">موجود</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">ناموجود</span>
                                                }
                                            </span>
                                        </p>
                                        <p class="product-description">
                                            @Model.ShortDescription
                                        </p>
                                        <div class="product-countdown" data-countdown="@Model.DiscountEndDate"></div>
                                        <div class="product-actions">
                                            <div class="quantity-selection">
                                                <label>تعداد</label>
                                                <input type="number" value="1" min="1">
                                            </div>
                                            <div class="product-buttons">
                                                <a class="cart-btn" href="#">
                                                    <i class="ion-bag"></i> اضافه کردن به سبد خرید
                                                </a>
                                            </div>
                                        </div>
                                        <div class="social-share-buttons mt-20">
                                            <h5>این محصول را به اشتراک بگزارید.</h5>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="single-info mb-0">
                                            تگ ها: @Model.Keywords
                                        </p>
                                    </div>
                                    <!--=======  End of single product content description  =======-->
                                </div>
                            </div>
                        </div>
                        <!--=======  End of single product main content area  =======-->
                        <!--=======  product description review   =======-->
                        <div class="product-description-review-area">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--=======  product description review container  =======-->
                                    <div class="tab-slider-wrapper product-description-review-container  section-space--inner">
                                        <nav>
                                            <div class="nav nav-tabs justify-content-center" id="nav-tab"
                                                 role="tablist">
                                                <a class="nav-item nav-link active" id="description-tab"
                                                   data-toggle="tab" href="#product-description" role="tab"
                                                   aria-selected="true">توضیحات</a>
                                                <a class="nav-item nav-link" id="review-tab" data-toggle="tab"
                                                   href="#review" role="tab" aria-selected="false">نظرات</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="product-description"
                                                 role="tabpanel" aria-labelledby="description-tab">
                                                <!--=======  product description  =======-->
                                                <div class="product-description">
                                                    <p>
                                                        @Model.Description
                                                    </p>
                                                </div>
                                                <!--=======  End of product description  =======-->
                                            </div>
                                            <div class="tab-pane fade" id="review" role="tabpanel"
                                                 aria-labelledby="review-tab">
                                                <!--=======  review content  =======-->
                                                <div class="product-rating-wrap">
                                                    <partial name="_DisplayCommentsSection" model="@Model.ProductComments"></partial>
                                                    <partial name="_CreateCommentSection" model="new CreateComment() { OwnerRecordId = @Model.Id, ProductSlug = @Model.Slug }"></partial>
                                                </div>
                                                <!--=======  End of review content  =======-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--=======  End of product description review container  =======-->
                                </div>
                            </div>
                        </div>
                        <!--=======  End of product description review   =======-->
                    </div>
                </div>
                <!--=======  End of page wrapper  =======-->
            </div>
        </div>
    </div>
</div>
<!--====================  End of page content area  ====================-->